.icon-needs {
  width: 32px;
  height: 32px;
}

.width-header {
  width: 185px;
}

.close-burger-menu {
  display: none;
}

.content-crypto-wallet {
  display: none;
}

.btn-back-wallet {
  display: none;
}
